.register {
  display: flex;
  align-items: flex-start;
  justify-content: right;
}

.wallpaper {
  background-image: url("../logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.register__container {
  padding: 155px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgba(177, 250, 125, 0.793);
}

.register__google {
  background-color: rgba(177, 250, 125, 0.793);
}
