.register {
  display: flex;
  align-items: flex-start;
  justify-content: right;
  padding: auto;
}

.text {
  border: 3px solid rgba(0, 0, 139, 0);
  width: 500px;
  padding: 2px;
  min-height: auto;
  margin-left: 36px;
  align-items: center;
}

.info {
  padding: 50px;
  font-size: 55px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.wallpaper {
  background-image: url("../logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.register__container {
  padding: 45px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgba(177, 250, 125, 0.793);
}

.register__google {
  background-color: rgba(177, 250, 125, 0.793);
}
